.navbar ul {
    list-style-type: none;
    margin: 5s;
    padding: 5;
    overflow: hidden;
  }
  
  .navbar li {
    float: left;
  }
  
  .navbar li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
  }
  
  .navbar {
    border: 5px solid rgb(90, 52, 70);
  }
